Checks: '
    bugprone-*,
    clang-analyzer-*,
    performance-*,
    copernica-*,
    readability-*,
    modernize-use-equals-default,
    -readability-isolate-declaration,
    -readability-braces-around-statements,
    -readability-implicit-bool-conversion,
    -readability-magic-numbers,
    -readability-use-anyofallof,
    -readability-identifier-naming,
    -readability-avoid-const-params-in-decls,
    -clang-diagnostic-overloaded-virtual,
    -performance-noexcept-move-constructor,
    -clang-analyzer-security.insecureAPI.*,
    -bugprone-forward-declaration-namespace,
    -bugprone-narrowing-conversions,
    -bugprone-reserved-identifier,
    -performance-move-const-arg,
    -clang-analyzer-optin.cplusplus.VirtualCall,
    -clang-analyzer-cplusplus.NewDelete,
    -clang-analyzer-cplusplus.NewDeleteLeaks,
    -clang-analyzer-unix.Malloc,
    -clang-analyzer-core.NonNullParamChecker,
    -clang-diagnostic-error,
    '
CheckOptions:
  - key: readability-identifier-naming.StructCase
    value: aNy_CasE #@todo fix
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: aNy_CasE #@todo fix
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.NamespaceCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantCase
    value: aNy_CasE #@todo fix
  - key: readability-identiifer-naming.ClassMemberCase
    value: aNy_CasE #@todo fix
  - key: readability-identifier-naming.ClassMemberPrefix
    value: _
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: _
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: _
  - key: readability-identifier-naming.StaticVariableCase
    value: aNy_CasE #@todo fix
